* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.footer {
  background-color: #f5f5f5;
  padding: 4rem 0 0 0;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
}

/* .footer_inner {
  width: 100%;
  max-width: 1200px;
} */

.footer__icons {
  display: flex;
  justify-content: center;
}

.icon-item {
  margin-right: 30px;
}

.icon {
  font-size: 30px;
  fill: rgb(100, 100, 100);
}

.footer__menu {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.menu-item {
  margin-right: 40px;
  font-size: 18px;
  font-weight: 500;
}

.footer__name {
  margin-bottom: 40px;
}

.footer__name p {
  font-weight: 300;
  font-size: 14px;
}
