.root {
  flex-grow: 1;
}

.root .appbar {
  background-color: rgba(197, 223, 86, 0.9);
  padding: 7px 0 7px;
  transition: all 300ms ease-in-out;
}

.root .activeAppbar {
  background-color: white;
}

.root .activeAppbar .navLink {
  color: black;
}

.root .activeAppbar .activeHeader {
  color: rgb(106, 153, 44);
}

.appbar .toolbar {
  transition: all 300ms ease-in-out;
  padding-right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  padding: 0;
}

.toolBarOnToggle {
  padding: 0;
}

.appbar .header-title {
  font-weight: bold;
  color: white;
  font-size: 28px;
  letter-spacing: 2px;
  padding-bottom: 3px;
}

.toolbar .navLink {
  color: white;
  text-decoration: none;
  padding-top: 3px;
  font-size: 16px;
  letter-spacing: 1px;
  margin-right: 30px;
}

.active {
  border-color: black;
}

.menuIcon {
  display: none;
}

.navMenuList {
  display: flex;
  align-items: center;
}

.navMenuList a:not(:last-child) {
  font-weight: 400;
  margin-right: 30px;
}

.toolbar a:hover,
.toolbar button:hover {
  background-color: transparent;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .navMenuList {
    display: none;
  }
  .navMenuList a,
  .navMenuList button {
    margin-right: 0;
    padding: 10px 0 10px;
    width: 100%;
  }

  .navMenuList a:hover,
  .navMenuList button:hover {
    color: black;
    background-color: #cee5d0;
  }
  .cart {
    margin-left: 0;
    top: 10px;
    position: absolute;
  }
  .admin {
    margin-left: 0;
  }

  .menuIcon {
    display: block;
    position: absolute;
    right: 20px;
    top: 25px;
    color: black;
    cursor: pointer;
  }
}
