.menuIcon {
  display: none;
}

.navMenuList {
  display: flex;
  align-items: center;
}

.navMenuList a {
  font-weight: 400;
}

.navMenuList a:hover,
.navMenuList button:hover {
  font-weight: 600;
  background-color: rgb(179, 200, 150);
}

@media screen and (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    padding-top: 10px;
  }

  .title {
    justify-content: flex-start;
  }

  .navMenuList {
    display: none;
  }

  .navLink {
    margin-top: 10px;
  }

  .navMenuList a,
  .navMenuList button {
    margin-right: 0;
    padding: 10px 0 10px;
    width: 100%;
  }

  .navMenuList a:hover,
  .navMenuList button:hover {
    /* border: 1px solid red; */
    color: black;
    background-color: #cee5d0;
  }
  .cart {
    margin-left: 0;
    position: absolute;
  }
  .admin {
    margin-left: 0;
  }

  .menuIcon {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    color: black;
    cursor: pointer;
  }

  .navListActive {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
}
