* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.admin__product {
  width: 100%;
  margin-top: 5rem;
}

a {
  text-decoration: none;
}

.paging {
  display: flex;
  justify-content: center;
}

.admin__product > h2 {
  font-size: 28px;
  font-weight: 700;
  color: rgb(51, 51, 51);
  margin-bottom: 80px;
}

table {
  width: 100%;
  border-collapse: collapse;
  padding: 4px;
}

th {
  padding: 0 10px 10px;
  font-size: 16px;
  line-height: 20px;
  color: rgb(100, 100, 100);
  border-bottom: 1px solid rgb(221, 221, 221);
  vertical-align: middle;
}

th > input,
td > input {
  cursor: pointer;
}

.checkboxAll > label {
  padding-left: 10px;
  font-size: 12px;
  vertical-align: top;
}

th:last-child {
  font-size: 14px;
}

thead th:nth-child(1) {
  width: 10%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 10%;
}

thead th:nth-child(4) {
  width: 20%;
}

thead th:nth-child(5) {
  width: 20%;
}
thead th:nth-child(6) {
  width: 10%;
}

td {
  border-bottom: 1px solid rgb(221, 221, 221);
  padding: 20px 10px;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
}

th:nth-child(1),
td:nth-child(1) {
  text-align: left;
}

.img {
  width: 160px;
  height: 100px;
  /* object-fit: contain; */
  margin-right: 20px;
}

.name {
  font-weight: 600;
}
