* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.product_card {
  width: 10%;
  height: 420px;
  border: 1px solid rgb(230, 228, 228);
  border-radius: 3%;
  overflow: hidden;
  padding: 10px 8px;
  transform: translateY(0);
  transition: all 300ms ease-out;
  margin: 4px 5px 0;
}

.product_card:hover {
  border: none;
  transform: translateY(-12px);
  -webkit-box-shadow: 5px 3px 12px 3px #b7b7b7;
  box-shadow: 5px 3px 12px 3px #b7b7b7;
}

.img_wrap {
  width: 100%;
  height: 65%;
  margin: 0 auto 12px;
}

.product_image {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.product_content {
  width: 100%;
}

.product_content-header {
  display: flex;
  align-items: center;
  height: 30px;
  justify-content: space-between;
}

.product_review {
  font-size: 14px;
  cursor: pointer;
  color: rgb(85, 85, 85);
  line-height: 24px;
  text-align: right;
  font-weight: 500;
  margin-right: 6px;
}

.product_name {
  font-size: 16px;
  color: rgb(119, 119, 119);
  line-height: 28px;
  font-weight: 500;
}

.product_price {
  font-size: 16px;
  color: rgb(85, 85, 85);
  margin-bottom: 8px;
  font-weight: 600;
}

.cart_btn {
  width: 50%;
  height: 40px;
  padding: 4px 2px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(136, 136, 136);
  transition: all 200ms ease-in;
  cursor: pointer;
  margin-left: 50%;
}

.cart_btn > span {
  font-size: 12px;
  font-weight: 600;
}

.basket_icon_btn {
  display: none;
}

.basket_icon {
  font-size: 100px;
  margin-left: 85%;
  cursor: pointer;
  color: rgb(136, 136, 136);
}

.cart_btn:hover {
  border: 1px solid rgb(150, 183, 108);
  background-color: rgb(150, 183, 108);
  color: white;
}

@media screen and (max-width: 1024px) {
  .product_card {
    width: 10%;
    height: 400px;
  }

  .product_content-header {
    height: 20px;
  }

  .product_review {
    font-size: 12px;
  }

  .product_name {
    margin-top: 8px;
  }
  .product_price {
    font-size: 16px;
  }

  .cart_btn {
    display: none;
  }

  .basket_icon_btn {
    display: block;
  }

  .basket_icon:hover {
    color: rgba(150, 183, 108);
  }
}

@media screen and (max-width: 768px) {
  .product_card {
    width: 10%;
    height: 360px;
  }

  .product_content-header {
    height: 16px;
  }

  .product_review {
    font-size: 12px;
  }

  .product_name {
    margin-top: 4px;
  }

  .product_name,
  .product_price {
    font-size: 14px;
  }

  .basket_icon_btn {
    display: block;
    font-size: 12px;
  }
}
