.category {
  margin-top: 10px;
}

.category__main {
  width: 100%;
  margin-bottom: 60px;
}

.main__img img:first-child {
  display: block;
  width: 100%;
  height: 700px;
}

.main__img img:last-child {
  display: none;
  width: 100%;
  height: auto;
}

.category__list {
  display: flex;
  margin-top: 0;
  justify-content: space-around;
  //list-style: none;
  padding-left: 0;
  border-bottom: 1px solid rgb(200, 200, 200);
  padding: 0 10% 20px;
  overflow: hidden;
}

.no-result {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.category__list p {
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
}

.list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 80%;
}

.menu-img {
  width: 80px;
  height: 80px;
}
.menu-img img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.category__list-header {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category__title {
  font-size: 37px;
}
.search {
  margin-top: 40px;
}
.category__filter {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.filter-item {
  margin-right: 15px;
  border-right: 1px solid rgb(200, 200, 200);
  padding-right: 20px;
  cursor: pointer;
  font-size: 13px;
  word-break: keep-all;
}

/* category list */

.category-list {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  /* padding: 10px; */
  flex-wrap: wrap;
}

.selectInput {
  display: none;
}

/* responsive */

@media screen and (max-width: 1260px) {
}

@media screen and (max-width: 768px) {
  .category__list-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .category__title {
    margin-bottom: 30px;
  }
  .selectInput {
    display: block;
    position: absolute;
    right: 20px;
    margin-top: 10px;
  }
  .category__list {
    display: none;
  }
  .main__img img:last-child {
    display: block;
  }
  .main__img img:first-child {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .category__title {
    font-size: 30 px;
  }
  .category__list-header {
    margin-top: 0;
  }
  .selectInput {
    position: relative;
    margin-top: 30px;
  }
}
