.category {
  margin-top: 10px;
}

.category__main {
  width: 100%;
}

.main__img img {
  width: 100%;
  height: 500px;
}

.category__list {
  display: flex;
  margin-top: 0;
  justify-content: space-around;
  list-style: none;
  padding-left: 0;
  border-bottom: 1px solid lightgray;
  padding: 0 10px 0;
  /* flex-wrap: wrap; */
  overflow: hidden;
}

.category__list p {
  display: inline-block;
  font-size: 25px;
  margin-left: 10px;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 20%;
}

.list-item:hover {
  background-color: #96b76c;
  color: white;
  border-radius: 10px;
}

.category__list-header {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category__title {
  font-size: 50px;
}
.search {
  margin-top: 40px;
}
.category__filter {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.filter-item {
  margin-right: 15px;
  border-right: 1px solid black;
  padding-right: 20px;
  cursor: pointer;
  font-size: 13px;
}

/* category list */
.category-list {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
}
