.auth {
  height: 800px;
}
.auth__container {
  text-align: center;
  margin: 0 auto;
  margin-top: 10rem;
  width: 450px;
  padding: 50px;
  border: 1px solid lightgray;
  border-radius: 4px;
  position: relative;
}

.auth-form__control {
  margin: 10px 0 20px;
}

.auth-form__control-btn {
  margin-top: 60px;
}
.authMode-btn {
  color: dodgerblue;
  cursor: pointer;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .auth {
    height: 500px;
  }

  .auth__container {
    width: 90%;
  }
}
