.list_td {
  height: 100px;
  border-bottom: 1px solid rgb(221, 221, 221);
  padding: 20px 10px;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
}

.list_img {
  width: 160px;
  height: 100px;
  /* object-fit: contain; */
  border-radius: 2px;
}

.list_name {
  font-weight: 600;
}
