* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.shopping_cart {
  width: 100%;
  margin-top: 5rem;
}

.shopping_cart > h2 {
  font-size: 28px;
  font-weight: 700;
  color: rgb(51, 51, 51);
  margin-bottom: 80px;
}

table {
  width: 100%;
  border-collapse: collapse;
  padding: 4px;
}

th {
  padding: 0 10px 10px;
  font-size: 16px;
  line-height: 20px;
  color: rgb(100, 100, 100);
  border-bottom: 1px solid rgb(221, 221, 221);
  vertical-align: middle;
}

th > input,
td > input {
  cursor: pointer;
}

.checkboxAll > label {
  padding-left: 10px;
  font-size: 12px;
  vertical-align: top;
}

th:last-child {
  font-size: 12px;
}

thead th:nth-child(1) {
  width: 10%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 20%;
}

thead th:nth-child(4) {
  width: 20%;
}

thead th:nth-child(6) {
  width: 10%;
}

th:nth-child(1),
td:nth-child(1) {
  text-align: left;
}

/* Total button */

.checkout {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 40px 0;
}

.total {
  width: 300px;
  height: 160px;
  list-style: none;

  padding: 20px 10px;
}

.total_inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.total_inner > p {
  font-size: 15px;
  color: rgb(90, 90, 90);
  font-weight: 600;
}

.total_btn {
  width: 100%;
  height: 40px;
  padding: 2px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(136, 136, 136);
  transition: all 200ms ease-in;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
}

.total_btn > span {
  font-size: 16px;
  font-weight: 600;
}

.total_btn:hover {
  border: 1px solid rgb(150, 183, 108);
  background-color: rgba(150, 183, 108);
  color: white;
}
